<ion-view class="no-scroll">
  <ion-nav-title>Estado Ventas</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <div class="fixed">
      <div class="list no-margin">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Búsqueda: rut, servicio, mes, estado, etc." ng-model="filter.search">
        </label>
      </div>
      <div class="item row amber">
        <div class="col col-30">Rut</div>
        <div class="col col-25">Servicios</div>
        <div class="col col-10">Mes</div>
        <div class="col">Estado</div>
      </div>
    </div>
    <div class="scroll">
      <div class="item row" collection-repeat="venta in ventas | filter: filter.search | filter: {tipo_carga: 1} | orderBy: '-update_time'" ng-click="chooseModal(1, venta)">
        <div class="col col-30">{{venta.rut_cliente}}-{{venta.dv_cliente}}</div>
        <div class="col col-25">{{venta.servicio}}</div>
        <div class="col col-10">{{venta.mes_venta}}</div>
        <div class="col">{{venta.estado_tango}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
