<ion-modal-view>
  <ion-header-bar class="amber" align-title="center">
    <h1 class="title center">Detalle</h1>
    <button class="button icon ion-close" ng-click="closeModal(1)"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item">Área funcional<span class="item-note">{{venta.area_funcional}}</span></a>
      <a class="item">Canal<span class="item-note">{{venta.canal}}</span></a>
      <a class="item">Comuna<span class="item-note">{{venta.comuna}}</span></a>
      <a class="item">Día registro<span class="item-note">{{venta.dia_registro}}</span></a>
      <a class="item">Días mora<span class="item-note">{{venta.dias_mora}}</span></a>
      <a class="item">Dv cliente<span class="item-note">{{venta.dv_cliente}}</span></a>
      <a class="item">equipo<span class="item-note">{{venta.equipo}}</span></a>
      <a class="item">Id proyecto<span class="item-note">{{venta.id_proyecto}}</span></a>
      <a class="item">Id servicio<span class="item-note">{{venta.id_servicio}}</span></a>
      <a class="item">Id vendedor<span class="item-note">{{venta.id_vendedor}}</span></a>
      <a class="item">Id vivienda<span class="item-note">{{venta.id_vivienda}}</span></a>
      <a class="item">Mes venta<span class="item-note">{{venta.mes_venta}}</span></a>
      <a class="item">Monto deuda<span class="item-note">{{venta.monto_deuda}}</span></a>
      <a class="item">Servicios<span class="item-note">{{venta.n_servicio}}</span></a>
      <a class="item">Rut cliente<span class="item-note">{{venta.rut_cliente}}-{{venta.dv_cliente}}</span></a>
      <a class="item">Servicio<span class="item-note">{{venta.servicio}}</span></a>
      <a class="item">Tipo carga<span class="item-note">{{venta.tipo_carga}}</span></a>
    </div>
  </ion-content>
</ion-modal-view>
