<ion-modal-view>
  <ion-header-bar class="amber" align-title="center">
    <h1 class="title">Editar Acción Comercial</h1>
    <button class="button icon ion-close" ng-click="closeModal(2)"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list no-margin">
      <label class="item item-input item-select white">
        <div class="input-label">
          Acción Comercial
        </div>
        <select ng-model="ac.accion">
          <option>Seleccionar Acción</option>
          <option>Contactar Telefónicamente</option>
          <option>Agendar Visita</option>
          <option>Reagendar Visita</option>
          <option>Generar Presupuesto</option>
          <option>Enviar Correo</option>
        </select>
      </label>
      <label class="item item-input item-select white">
        <div class="input-label">
          Resultado
        </div>
        <select ng-model="ac.resultado">
          <option>Seleccionar Resultado</option>
          <option>Ejecutado</option>
          <option>Volver a Ejecutar</option>
          <option>Pendiente</option>
          <option>Desiste</option>
          <option>Aceptado</option>
        </select>
      </label>
      <label class="item item-input">
        <span class="input-label">Observaciones</span>
        <input class="text-right" type="text" placeholder="Escriba Aquí" ng-model="ac.observaciones">
      </label>
    </div>
    <div class="button-bar">
      <button class="button button-assertive z-depth-1" ng-click="cancel()"><strong>Cancelar</strong></button>
      <button id="card1NextButton" class="button white siguiente z-depth-1" ng-class="{disabled: (ac.accion == 'Seleccionar Acción' || ac.resultado == 'Seleccionar Resultado')}" ng-click="guardar(ac)"><strong>Guardar</strong></button>
    </div>
  </ion-content>
</ion-modal-view>
