<ion-modal-view>
  <ion-header-bar class="amber" align-title="center">
    <h1 class="title center">Detalle</h1>
    <button class="button icon ion-close" ng-click="closeModal(1)"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <a class="item">Cambio código<span class="item-note">{{venta.cambio_codigo}}</span></a>
      <a class="item">Canal<span class="item-note">{{venta.canal}}</span></a>
      <a class="item">Día registro<span class="item-note">{{venta.dia_registro}}</span></a>
      <a class="item">Días mora<span class="item-note">{{venta.dias_mora}}</span></a>
      <a class="item">Dv cliente<span class="item-note">{{venta.dv_cliente}}</span></a>
      <a class="item">Estado rendición<span class="item-note">{{venta.estado_rendicion}}</span></a>
      <a class="item">Fecha visado<span class="item-note">{{venta.fecha_visado}}</span></a>
      <a class="item">Id proyecto<span class="item-note">{{venta.id_proyecto}}</span></a>
      <a class="item">Id servicio<span class="item-note">{{venta.id_servicio}}</span></a>
      <a class="item">Id vendedor<span class="item-note">{{venta.id_vendedor}}</span></a>
      <a class="item">Id vivienda<span class="item-note">{{venta.id_vivienda}}</span></a>
      <a class="item">Mes venta<span class="item-note">{{venta.mes_venta}}</span></a>
      <a class="item">Monto deuda<span class="item-note">{{venta.monto_deuda}}</span></a>
      <a class="item">Motivos en regularización<span class="item-note">{{venta.motivos_en_regularizacion}}</span></a>
      <a class="item">Motivos rechazo visado<span class="item-note">{{venta.motivos_rechazo_visado}}</span></a>
      <a class="item">Servicios<span class="item-note">{{venta.n_servicios}}</span></a>
      <a class="item">No visado<span class="item-note">{{decode(venta.no_visado)}}</span></a>
      <a class="item">Rut cliente<span class="item-note">{{venta.rut_cliente}}-{{venta.dv_cliente}}</span></a>
      <a class="item">Tipo carga<span class="item-note">{{venta.tipo_carga}}</span></a>
      <a class="item">Visación<span class="item-note">{{decode(venta.visacion)}}</span></a>
    </div>
  </ion-content>
</ion-modal-view>
