<ion-modal-view>
  <ion-header-bar class="amber" align-title="center">
    <h1 class="title">{{prospecto.comuna + ' ' + prospecto.calle + ' ' + prospecto.numero}}</h1>
  </ion-header-bar>
  <ion-content class="grey lighten-4" style="margin-bottom: 50px;">
    <ion-list>
      <div class="item item-divider">
        Listado de Acciones Comerciales
      </div>
      <ion-item collection-repeat="ac in prospecto.accion_comercial | orderBy:'-timestamp'">
        <div class="row">
          <div class="col">
            <p>Accion: {{ac.accion}}</p>
            <p>Última actualización: {{ac.timestamp * 1000 | date: 'yyyy/MM/dd HH:mm:ss'}}</p>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer row grey lighten-4">
    <div class="button-bar">
      <button class="button white button-outline button-dark z-depth-1 icon-left ion-plus-circled" ng-click="chooseModal(2, prospecto)"><strong>Acciones Comerciales</strong></button>
      <button class="button white button-outline button-dark z-depth-1 icon-left ion-checkmark-round" ng-click="closeModal(1)"><strong>Terminar</strong></button>
    </div>
  </div>
</ion-modal-view>
