<ion-modal-view>
  <ion-header-bar class="amber" align-title="center">
    <h1 class="title center">Detalle</h1>
    <button class="button icon ion-close" ng-click="closeModal(4)"></button>
  </ion-header-bar>
  <ion-content>
    <div class="list no-margin padding-for-footer">
      <div class="item item-divider">
        Datos cliente:
      </div>
      <label class="item item-input">
        <span class="input-label">Comuna</span>
        <input class="text-right" type="text" ng-model="prospecto.comuna">
      </label>
      <label class="item item-input">
        <span class="input-label">Calle</span>
        <input class="text-right" type="text" ng-model="prospecto.calle">
      </label>
      <label class="item item-input">
        <span class="input-label">Número</span>
        <input class="text-right" type="number" ng-model="prospecto.numero">
      </label>
      <div class="item item-divider">
        Datos comprador:
      </div>
      <label class="item item-input">
        <span class="input-label">Rut</span>
        <input class="text-right" type="text" ng-model="prospecto.rut_comprador">
      </label>
      <label class="item item-input">
        <span class="input-label">Nombre</span>
        <input class="text-right" type="text" ng-model="prospecto.nombre_comprador">
      </label>
      <label class="item item-input">
        <span class="input-label">Fono contacto 1</span>
        <input class="text-right" type="tel" ng-model="prospecto.fono_contacto_1">
      </label>
      <label class="item item-input">
        <span class="input-label">Fono contacto 2</span>
        <input class="text-right" type="tel" ng-model="prospecto.fono_contacto_2">
      </label>
      <label class="item item-input">
        <span class="input-label">Email</span>
        <input class="text-right" type="email" ng-model="prospecto.email">
      </label>
      <div class="item item-divider">
        Servicios a contratar:
      </div>
      <label class="item item-input item-select white">
        <div class="input-label">
          TV
        </div>
        <select ng-model="prospecto.tipo_tv">
          <option ng-value="'NINGUNO'">NINGUNO</option>
          <option ng-value="'TV HOGAR HD'">TV HOGAR HD</option>
          <option ng-value="'TV FULL HD'">TV FULL HD</option>
        </select>
      </label>
      <label class="item item-input item-select white">
        <div class="input-label">
          Fono
        </div>
        <select ng-model="prospecto.tipo_fono">
          <option ng-value="'NINGUNO'">NINGUNO</option>
          <option ng-value="'FONO LIMITADO'">FONO LIMITADO</option>
          <option ng-value="'PORTABILIDAD'">PORTABILIDAD</option>
        </select>
      </label>
      <label class="item item-input item-select white">
        <div class="input-label">
          Internet
        </div>
        <select ng-model="prospecto.tipo_inet">
          <option ng-value="'NINGUNO'">NINGUNO</option>
          <option ng-value="'MEGA 30'">MEGA 30</option>
          <option ng-value="'MEGA 120'">MEGA 120</option>
          <option ng-value="'MEGA 200'">MEGA 200</option>
        </select>
      </label>
      <div class="item item-divider">
        Estado actual cliente:
      </div>
      <label class="item item-input item-select white">
        <div class="input-label">
          Empresa
        </div>
        <select ng-model="prospecto.empresaServicios">
          <option ng-value="'NINGUNO'">NINGUNO</option>
          <option ng-value="'VTR'">VTR</option>
          <option ng-value="'Movistar Fibra'">Movistar Fibra</option>
          <option ng-value="'Movistar ADSL'">Movistar ADSL</option>
          <option ng-value="'Claro'">Claro</option>
          <option ng-value="'DirecTV'">DirecTV</option>
          <option ng-value="'GTD'">GTD</option>
          <option ng-value="'Otro'">Otro</option>
          <option ng-value="'No sabe/No contesta'">No sabe/No contesta</option>
        </select>
      </label>
      <label class="item item-input item-select white">
        <div class="input-label">
          Productos que tiene
        </div>
        <select ng-model="prospecto.productosContratados">
          <option ng-value="'NINGUNO'">NINGUNO</option>
          <option ng-value="'3 PLAY'">3 PLAY</option>
          <option ng-value="'CABLE + INTERNET'">CABLE + INTERNET</option>
          <option ng-value="'CABLE + FONO'">CABLE + FONO</option>
          <option ng-value="'CABLE'">CABLE</option>
          <option ng-value="'INTERNET'">INTERNET</option>
          <option ng-value="'FONO'">FONO</option>
          <option ng-value="'No sabe/No contesta'">No sabe/No contesta</option>
        </select>
      </label>
      <label class="item item-input item-select white">
        <div class="input-label">
          Tiene promoción
        </div>
        <select ng-model="prospecto.tienePromocion">
          <option ng-value="'SI'">SI</option>
          <option ng-value="'NO'">NO</option>
          <option ng-value="'No sabe/No contesta'">No sabe/No contesta</option>
        </select>
      </label>
    </div>
  </ion-content>
  <div class="bar bar-footer row white">
    <div class="button-bar">
      <button class="button white button-outline button-dark z-depth-1 icon-left ion-ios-list-outline" ng-click="chooseModal(1, prospecto)"><strong>Acciones Comerciales</strong></button>
      <button class="button white button-outline button-dark z-depth-1 icon-left ion-checkmark-round" ng-click="actualizarProspecto()"><strong>Guardar</strong></button>
    </div>
  </div>
</ion-modal-view>
