<ion-view>
  <ion-nav-title>Nuevo Prospecto</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">

    <!--step == inicio-->
    <div id="card1" class="card z-depth-1" ng-if="step === 'inicio'">
      <ion-list>
        <ion-item>
          <p class="text-center"><strong>¿Cómo se contactó al nuevo prospecto?</strong></p>
        </ion-item>
        <ion-radio ng-model="model.tipoContacto" ng-value="'final'" name="tipoContacto">No toca puerta y deja volante</ion-radio>
        <ion-radio ng-model="model.tipoContacto" ng-value="'2'" name="tipoContacto">No toca puerta y NO deja volante</ion-radio>
        <ion-radio ng-model="model.tipoContacto" ng-value="'3'" name="tipoContacto">Toca puerta y NO hizo contacto</ion-radio>
        <ion-radio ng-model="model.tipoContacto" ng-value="'finalCompleto'" name="tipoContacto">Toca puerta y SI hizo contacto</ion-radio>
      </ion-list>
      <div class="button-bar">
        <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
        <button id="card1NextButton" class="button white siguiente" ng-class="{disabled: (model.tipoContacto == '' || model.tipoContacto == undefined || model.tipoContacto == 0)}" ng-click="stepForward(model.tipoContacto, 'card1')"><strong>Siguiente</strong></button>
      </div>
    </div>

    <!--step == 2 //  No toca puerta y NO deja volante-->
    <div id="card2" class="card z-depth-1" ng-if="step === '2'">
      <ion-list>
        <ion-item>
          <p class="text-center"><strong>Motivo</strong></p>
        </ion-item>
        <ion-radio ng-model="model.motivo" ng-value="'1'" name="motivo">Sin Moradores</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'2'" name="motivo">Abandonada</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'3'" name="motivo">En Construcción</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'4'" name="motivo">No tengo volante</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'5'" name="motivo">Otra razón</ion-radio>
      </ion-list>
      <div class="button-bar">
        <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
        <button id="card2NextButton" class="button white" ng-class="{disabled: (model.motivo == '' || model.motivo == undefined || model.motivo == 0)}" ng-click="stepForward('final', 'card2')"><strong>Siguiente</strong></button>
      </div>
    </div>

    <!--step == 3 // Toca puerta y NO hizo contacto-->
    <div id="card3" class="card z-depth-1" ng-if="step === '3'">
      <ion-list>
        <ion-item>
          <p class="text-center"><strong>Motivo</strong></p>
        </ion-item>
        <ion-radio ng-model="model.motivo" ng-value="'1'" name="motivo">Sin Moradores</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'2'" name="motivo">Abandonada</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'3'" name="motivo">En Construcción</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'4'" name="motivo">No le interesa</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'5'" name="motivo">No dejó volante</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'6'" name="motivo">Si dejó volante</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'7'" name="motivo">Tiene competencia (CLARO)</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'8'" name="motivo">Tiene competencia (MOVISTAR)</ion-radio>
        <ion-radio ng-model="model.motivo" ng-value="'9'" name="motivo">Tiene competencia (OTRO)</ion-radio>
      </ion-list>
      <div class="button-bar">
        <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
        <button id="card3NextButton" class="button white" ng-class="{disabled: (model.tipoContacto.motivo == '' || model.tipoContacto.motivo == undefined || model.tipoContacto.motivo == 0)}" ng-click="stepForward('final', 'card3')"><strong>Siguiente</strong></button>
      </div>
    </div>

    <!--step == final // step == finalCompleto-->
    <section id="card4" class="card z-depth-1" ng-if="step === 'final' || step === 'finalCompleto'">
      <article class="list no-margin">
        <div class="item item-divider">
          Datos cliente:
        </div>
        <label class="item item-input item-select white">
          <div class="input-label">
            Comuna
          </div>
          <select>
            <option ng-value="Todas">Seleccionar Comuna</option>
            <option ng-value="Todas">Buin</option>
            <option ng-value="Todas">Cerrillos</option>
            <option ng-value="Todas">Cerro Navia</option>
            <option ng-value="Todas">Colina</option>
            <option ng-value="Todas">Conchalí</option>
            <option ng-value="Todas">El Bosque</option>
            <option ng-value="Todas">Estacion Central</option>
            <option ng-value="Todas">Huechuraba</option>
            <option ng-value="Todas">Independencia</option>
            <option ng-value="Todas">La Cisterna</option>
            <option ng-value="Todas">La Florida</option>
            <option ng-value="Todas">La Granja</option>
            <option ng-value="Todas">La Pintana</option>
            <option ng-value="Todas">La Reina</option>
            <option ng-value="Todas">Lampa</option>
            <option ng-value="Todas">Las Condes</option>
            <option ng-value="Todas">Lo Barnechea</option>
            <option ng-value="Todas">Lo Espejo</option>
            <option ng-value="Todas">Lo Prado</option>
            <option ng-value="Todas">Macul</option>
            <option ng-value="Todas">Maipú</option>
            <option ng-value="Todas">Melipilla</option>
            <option ng-value="Todas">Paine</option>
            <option ng-value="Todas">Pedro Aguirre Cerda</option>
            <option ng-value="Todas">Peñaflor</option>
            <option ng-value="Todas">Peñalolen</option>
            <option ng-value="Todas">Providencia</option>
            <option ng-value="Todas">Pudahuel</option>
            <option ng-value="Todas">Puente Alto</option>
            <option ng-value="Todas">Quilicura</option>
            <option ng-value="Todas">Quinta Normal</option>
            <option ng-value="Todas">Recoleta</option>
            <option ng-value="Todas">Renca</option>
            <option ng-value="Todas">San Bernardo</option>
            <option ng-value="Todas">San Joaquín</option>
            <option ng-value="Todas">San Miguel</option>
            <option ng-value="Todas">San Ramón</option>
            <option ng-value="Todas">Santiago</option>
            <option ng-value="Todas">Vitacura</option>
            <option ng-value="Todas">Ñuñoa</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Calle</span>
          <input class="text-right" type="text">
        </label>
        <label class="item item-input">
          <span class="input-label">Número</span>
          <input class="text-right" type="number">
        </label>
        <!--formulario completo-->
        <div ng-show="step === 'finalCompleto'">
          <label class="item item-input">
            <span class="input-label">Nodo</span>
            <input class="text-right" type="number">
          </label>
          <label class="item item-input">
            <span class="input-label">Cuadrante</span>
            <input class="text-right" type="number">
          </label>
          <label class="item item-input">
            <span class="input-label">Rut Comprador</span>
            <input class="text-right" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Nombre Comprador</span>
            <input class="text-right" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Fono comtacto 1</span>
            <input class="text-right" type="number">
          </label>
          <label class="item item-input">
            <span class="input-label">Fono comtacto 2</span>
            <input class="text-right" type="number">
          </label>
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input class="text-right" type="email">
          </label>
          <div class="item item-divider">
            Servicios a contratar:
          </div>
          <label class="item item-input item-select white">
            <div class="input-label">
              TV
            </div>
            <select>
              <option ng-value="Ninguno">Ninguno</option>
              <option ng-value="">TV HOGAR HD</option>
              <option ng-value="">TV FULL HD</option>
            </select>
          </label>
          <label class="item item-input item-select white">
            <div class="input-label">
              Fono
            </div>
            <select>
              <option ng-value="Ninguno">Ninguno</option>
              <option ng-value="">FONO ILIMITADO</option>
              <option ng-value="">PORTABILIDAD</option>
            </select>
          </label>
          <label class="item item-input item-select white">
            <div class="input-label">
              Internet
            </div>
            <select>
              <option ng-value="Ninguno">Ninguno</option>
              <option ng-value="">MEGA 30</option>
              <option ng-value="">MEGA 120</option>
              <option ng-value="">MEGA 200</option>
            </select>
          </label>
          <div class="item item-divider">
            Estado actual cliente:
          </div>
          <label class="item item-input item-select white">
            <div class="input-label">
              Empresa
            </div>
            <select>
              <option ng-value="Ninguno">Ninguno</option>
              <option ng-value="">VTR</option>
              <option ng-value="">Movistar Fibra</option>
              <option ng-value="">Movistar ADSL</option>
              <option ng-value="">Claro</option>
              <option ng-value="">DirecTV</option>
              <option ng-value="">GTD</option>
              <option ng-value="">Otro</option>
              <option ng-value="">No sabe/No responde</option>
            </select>
          </label>
          <label class="item item-input item-select white">
            <div class="input-label">
              Productos que tiene
            </div>
            <select>
              <option ng-value="Ninguno">Ninguno</option>
              <option ng-value="">3 PLAY</option>
              <option ng-value="">CABLE + INTERNET</option>
              <option ng-value="">CABLE + FONO</option>
              <option ng-value="">CABLE</option>
              <option ng-value="">INTERNET</option>
              <option ng-value="">FONO</option>
              <option ng-value="">No sabe/No responde</option>
            </select>
          </label>
          <label class="item item-input item-select white">
            <div class="input-label">
              Tiene promoción
            </div>
            <select>
              <option ng-value="">No sabe/No responde</option>
              <option ng-value="">Si</option>
              <option ng-value="">No</option>
            </select>
          </label>
          <label class="item item-input">
            <span class="input-label">Acción comercial</span>
            <input class="text-right" type="text">
          </label>
        </div>
      </article>
      <article class="list no-margin">
        <div class="button-bar">
          <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
          <button id="card4SendButton" class="button white" ng-class="{disabled: (model.tipoContacto.motivo == '' || model.tipoContacto.motivo == undefined || model.tipoContacto.motivo == 0)}" ng-click=""><strong>Enviar</strong></button>
        </div>
      </article>
    </section>
  </ion-content>
</ion-view>
