<ion-view class="no-scroll">
  <ion-nav-title>Mi Cuaderno</ion-nav-title>
  <ion-content class="grey lighten-4" overflow-scroll="false">
    <section class="text-center">
      <br>
      <img src="img/evtManager-logo.png" class="logo">
    </section>
    <section class="to-bottom row">
      <div class="col">
        <br>
        <a ui-sref="tabs.cuaderno-direcciones-asignadas" class="button button-stable button-block amber z-depth-1"><strong>Direcciones Asignadas</strong></a>
        <a ui-sref="tabs.cuaderno-nuevo-prospecto" class="button button-stable button-block amber z-depth-1"><strong>Nuevo Prospecto</strong></a>
        <a ui-sref="tabs.cuaderno-historial" class="button button-stable button-block amber z-depth-1"><strong>Mi Historial</strong></a>
      </div>
    </section>
  </ion-content>
</ion-view>
