<ion-view class="no-scroll">
  <ion-nav-title>Historial</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="text" placeholder="Búsqueda: comuna, nodo, cuadrante, deuda, etc." ng-model="filter.search">
    </label>
    <ion-list>
      <ion-item class="row amber">
        <div class="col col-33">Comuna</div>
        <div class="col col-33">Calle</div>
        <div class="col col-33">Número</div>
      </ion-item>
      <ion-item class="row item-text-wrap" ng-repeat="prospecto in prospectos | filter: {tipo_contacto: 'Toca puerta y si hizo contacto'} | filter: filter.search | orderBy: '-update_time'" ng-click="chooseModal(4, prospecto)">
        <div class="col col-33">{{prospecto.comuna}}</div>
        <div class="col col-33">{{prospecto.calle}}</div>
        <div class="col col-33">{{prospecto.numero}}</div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
