<ion-view>
  <ion-nav-title>Nuevo Prospecto</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">

    <!--step == inicio-->
    <div id="card1" class="card z-depth-1" ng-if="step === 'inicio'">
      <ion-list>
        <ion-item>
          <p class="text-center"><strong>¿Cómo se contactó al nuevo prospecto?</strong></p>
        </ion-item>
        <ion-radio ng-model="model.tipoContacto" ng-value="'final'" name="tipoContacto">No toca puerta y deja volante</ion-radio>
        <ion-radio ng-model="model.tipoContacto" ng-value="'2'" name="tipoContacto">No toca puerta y NO deja volante</ion-radio>
        <ion-radio ng-model="model.tipoContacto" ng-value="'3'" name="tipoContacto">Toca puerta y NO hizo contacto</ion-radio>
        <ion-radio ng-model="model.tipoContacto" ng-value="'finalCompleto'" name="tipoContacto">Toca puerta y SI hizo contacto</ion-radio>
      </ion-list>
      <div class="button-bar">
        <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
        <button class="button white siguiente" ng-class="{disabled: (model.tipoContacto == '' || model.tipoContacto == undefined || model.tipoContacto == 0)}" ng-click="stepForward(model.tipoContacto, model.tipoContacto)"><strong>Siguiente</strong></button>
      </div>
    </div>

    <!--step == 2 //  No toca puerta y NO deja volante-->
    <div id="card2" class="card z-depth-1" ng-if="step === '2'">
      <ion-list>
        <ion-item>
          <p class="text-center"><strong>Motivo</strong></p>
        </ion-item>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Sin Moradores'" name="motivo">Sin Moradores</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Abandonada'" name="motivo">Abandonada</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'En Construcción'" name="motivo">En Construcción</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'No tengo volante'" name="motivo">No tengo volante</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Otra razón'" name="motivo">Otra razón</ion-radio>
      </ion-list>
      <div class="button-bar">
        <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
        <button id="card2NextButton" class="button white" ng-class="{disabled: (prospecto.tipo_accion == '' || prospecto.tipo_accion == undefined || prospecto.tipo_accion == 0)}" ng-click="stepForward('final')"><strong>Siguiente</strong></button>
      </div>
    </div>

    <!--step == 3 // Toca puerta y NO hizo contacto-->
    <div id="card3" class="card z-depth-1" ng-if="step === '3'">
      <ion-list>
        <ion-item>
          <p class="text-center"><strong>Motivo</strong></p>
        </ion-item>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Sin Moradores'" name="motivo">Sin Moradores</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Abandonada'" name="motivo">Abandonada</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'En Construcción'" name="motivo">En Construcción</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'No le interesa'" name="motivo">No le interesa</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'No dejó volante'" name="motivo">No dejó volante</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Si dejó volante'" name="motivo">Si dejó volante</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Tiene competencia (CLARO)'" name="motivo">Tiene competencia (CLARO)</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Tiene competencia (MOVISTAR)'" name="motivo">Tiene competencia (MOVISTAR)</ion-radio>
        <ion-radio ng-model="prospecto.tipo_accion" ng-value="'Tiene competencia (OTRO)'" name="motivo">Tiene competencia (OTRO)</ion-radio>
      </ion-list>
      <div class="button-bar">
        <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
        <button id="card3NextButton" class="button white" ng-class="{disabled: (model.tipoContacto.motivo == '' || model.tipoContacto.motivo == undefined || model.tipoContacto.motivo == 0)}" ng-click="stepForward('final')"><strong>Siguiente</strong></button>
      </div>
    </div>

    <!--step == finalCompleto-->
    <section id="card4" class="card z-depth-1" ng-if="step === 'finalCompleto' || step === 'final'">
      <article class="list no-margin">
        <div class="item item-divider">
          Datos cliente:
        </div>
        <label class="item item-input item-select white">
          <div class="input-label">
            Comuna <strong class="red-text">(**)</strong>
          </div>
          <select ng-model="prospecto.comuna">
            <option ng-repeat="comuna in comunas" ng-value="comuna.nombre">{{comuna.nombre}}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">Calle <strong class="red-text">(**)</strong></span>
          <input class="text-right" type="text" ng-model="prospecto.calle">
        </label>
        <label class="item item-input">
          <span class="input-label">Número <strong class="red-text">(**)</strong></span>
          <input class="text-right" type="number" ng-model="prospecto.numero">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Nodo</span>
          <input class="text-right" type="number" ng-model="prospecto.nodo">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Cuadrante</span>
          <input class="text-right" type="number" ng-model="prospecto.cuadrante">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Fono</span>
          <input class="text-right" type="text" ng-model="prospecto.fono">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Cable</span>
          <input class="text-right" type="text" ng-model="prospecto.cable">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Inet</span>
          <input class="text-right" type="text" ng-model="prospecto.inet">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Prem</span>
          <input class="text-right" type="text" ng-model="prospecto.premium">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Rut</span>
          <input class="text-right" type="text" ng-model="prospecto.rut_prospecto">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Nombre</span>
          <input class="text-right" type="text" ng-model="prospecto.nombre">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Deuda</span>
          <input class="text-right" type="text" ng-model="prospecto.deuda">
        </label>
        <div class="item item-divider" ng-if="step === 'finalCompleto'">
          Datos comprador:
        </div>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Rut</span>
          <input class="text-right" type="text" ng-model="prospecto.rut_comprador">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Nombre <strong class="red-text">(**)</strong></span>
          <input class="text-right" type="text" ng-model="prospecto.nombre_comprador">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Fono contacto 1</span>
          <input class="text-right" type="tel" ng-model="prospecto.fono_contacto_1">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Fono contacto 2</span>
          <input class="text-right" type="tel" ng-model="prospecto.fono_contacto_2">
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Email <strong class="red-text">(**)</strong></span>
          <input class="text-right" type="email" ng-model="prospecto.email">
        </label>
        <div class="item item-divider" ng-if="step === 'finalCompleto'">
          Servicios a contratar:
        </div>
        <label class="item item-input item-select white" ng-if="step === 'finalCompleto'">
          <div class="input-label">
            TV
          </div>
          <select ng-model="prospecto.tipo_tv">
            <option ng-value="'NINGUNO'">NINGUNO</option>
            <option ng-value="'TV HOGAR HD'">TV HOGAR HD</option>
            <option ng-value="'TV FULL HD'">TV FULL HD</option>
          </select>
        </label>
        <label class="item item-input item-select white" ng-if="step === 'finalCompleto'">
          <div class="input-label">
            Fono
          </div>
          <select ng-model="prospecto.tipo_fono">
            <option ng-value="'NINGUNO'">NINGUNO</option>
            <option ng-value="'FONO LIMITADO'">FONO LIMITADO</option>
            <option ng-value="'PORTABILIDAD'">PORTABILIDAD</option>
          </select>
        </label>
        <label class="item item-input item-select white" ng-if="step === 'finalCompleto'">
          <div class="input-label">
            Internet
          </div>
          <select ng-model="prospecto.tipo_inet">
            <option ng-value="'NINGUNO'">NINGUNO</option>
            <option ng-value="'MEGA 30'">MEGA 30</option>
            <option ng-value="'MEGA 120'">MEGA 120</option>
            <option ng-value="'MEGA 200'">MEGA 200</option>
          </select>
        </label>
        <div class="item item-divider" ng-if="step === 'finalCompleto'">
          Estado actual cliente:
        </div>
        <label class="item item-input item-select white" ng-if="step === 'finalCompleto'">
          <div class="input-label">
            Empresa
          </div>
          <select ng-model="prospecto.empresaServicios">
            <option ng-value="'NINGUNO'">NINGUNO</option>
            <option ng-value="'VTR'">VTR</option>
            <option ng-value="'Movistar Fibra'">Movistar Fibra</option>
            <option ng-value="'Movistar ADSL'">Movistar ADSL</option>
            <option ng-value="'Claro'">Claro</option>
            <option ng-value="'DirecTV'">DirecTV</option>
            <option ng-value="'GTD'">GTD</option>
            <option ng-value="'Otro'">Otro</option>
            <option ng-value="'No sabe/No contesta'">No sabe/No contesta</option>
          </select>
        </label>
        <label class="item item-input item-select white" ng-if="step === 'finalCompleto'">
          <div class="input-label">
            Productos que tiene
          </div>
          <select ng-model="prospecto.productosContratados">
            <option ng-value="'NINGUNO'">NINGUNO</option>
            <option ng-value="'3 PLAY'">3 PLAY</option>
            <option ng-value="'CABLE + INTERNET'">CABLE + INTERNET</option>
            <option ng-value="'CABLE + FONO'">CABLE + FONO</option>
            <option ng-value="'CABLE'">CABLE</option>
            <option ng-value="'INTERNET'">INTERNET</option>
            <option ng-value="'FONO'">FONO</option>
            <option ng-value="'No sabe/No contesta'">No sabe/No contesta</option>
          </select>
        </label>
        <label class="item item-input item-select white" ng-if="step === 'finalCompleto'">
          <div class="input-label">
            Tiene promoción
          </div>
          <select ng-model="prospecto.tienePromocion">
            <option ng-value="'SI'">SI</option>
            <option ng-value="'NO'">NO</option>
            <option ng-value="'No sabe/No contesta'">No sabe/No contesta</option>
          </select>
        </label>
        <label class="item item-input" ng-if="step === 'finalCompleto'">
          <span class="input-label">Acción comercial <strong class="red-text">(**)</strong></span>
          <input class="text-right" type="text" ng-model="prospecto.accionComercial">
        </label>
        <div class="button-bar">
          <button class="button button-assertive" ng-click="cancel()"><strong>Cancelar</strong></button>
          <button ng-if="step === 'final'" class="button white" ng-class="{disabled: (prospecto.calle == '' || prospecto.comuna == '' || prospecto.numero == '')}" ng-click="enviarProspecto()"><strong>Guardar</strong></button>
          <button ng-if="step === 'finalCompleto'" class="button white" ng-class="{disabled: (prospecto.calle == '' || prospecto.comuna == '' || prospecto.numero == '' || prospecto.nombre_comprador == '' || prospecto.email == '' || prospecto.accionComercial == '')}" ng-click="enviarProspecto()"><strong>Guardar</strong></button>
        </div>
      </article>
    </section>
  </ion-content>
</ion-view>
