<ion-view class="no-scroll">
  <ion-nav-title>Ventas</ion-nav-title>
  <ion-content class="grey lighten-4" overflow-scroll="false">
    <section class="text-center">
      <br>
      <img src="img/evtManager-logo.png" class="logo">
    </section>
    <section class="to-bottom row">
      <div class="col">
        <br>
        <a ui-sref="tabs.ventas-estado" class="button button-stable button-block amber z-depth-1"><strong>Estado Ventas</strong></a>
        <a ui-sref="tabs.ventas-visaciones" class="button button-stable button-block amber z-depth-1"><strong>Visaciones</strong></a>
        <a ui-sref="tabs.ventas-permanencia" class="button button-stable button-block amber z-depth-1"><strong>Permanencia</strong></a>
        <a ui-sref="tabs.ventas-cobranzas" class="button button-stable button-block amber z-depth-1"><strong>Cobranzas</strong></a>
        <a ui-sref="tabs.ventas-pendientes" class="button button-stable button-block amber z-depth-1"><strong>Pendiente Comercial</strong></a>
      </div>
    </section>
  </ion-content>
</ion-view>
