<ion-view class="no-scroll">
  <ion-nav-title>Historial</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <div class="list no-margin padding-for-footer">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Búsqueda: comuna, nodo, cuadrante, deuda, etc." ng-model="filter.search">
      </label>
      <label class="item row amber">
        <div class="col">Comuna</div>
        <div class="col">Calle</div>
        <div class="col">Número</div>
      </label>
      <label class="item row" collection-repeat="prospecto in prospectos | filter: {tipo_contacto: 'Toca puerta y si hizo contacto'} | filter: filter.search | orderBy: 'comuna'" ng-click="chooseModal(4, prospecto)">
        <div class="col">{{prospecto.comuna}}</div>
        <div class="col">{{prospecto.calle}}</div>
        <div class="col">{{prospecto.numero}}</div>
      </label>
    </div>
  </ion-content>
</ion-view>
