<ion-view class="no-scroll">
  <ion-nav-title>Pendiente Comercial</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <div class="list no-margin">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Búsqueda: rut, servicio, mes, etc." ng-model="filter.search">
      </label>
      <div class="item row amber">
        <div class="col col-30">Rut</div>
        <div class="col col-25">Servicio</div>
        <div class="col">Mes</div>
      </div>
      <div class="item row" collection-repeat="venta in ventas | filter: { tipo_carga:2} | filter: filter.search | orderBy: 'comuna'" ng-click="chooseModal(1, venta)">
        <div class="col col-30">{{venta.rut_cliente}}-{{venta.dv_cliente}}</div>
        <div class="col col-25">{{venta.servicio}}</div>
        <div class="col">{{venta.mes_venta}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
