<ion-view class="no-scroll">
  <ion-nav-title>Pendiente Comercial</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <div class="fixed">
      <div class="row amber">
        <div class="col">Rut</div>
        <div class="col">Servicio</div>
        <div class="col">Mes</div>
      </div>
    </div>
    <div class="scroll">
      <div class="row">
        <div class="col">18463690-5</div>
        <div class="col">2WAY</div>
        <div class="col">11</div>
      </div>
    </div>
  </ion-content>
</ion-view>
