<ion-view class="no-scroll">
  <ion-nav-title>Visaciones</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <div class="list no-margin">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Búsqueda: visación, mes, rut, servicio, estado, etc." ng-model="filter.search">
      </label>
      <label class="item row amber">
        <div class="col col-25">Rut</div>
        <div class="col col-20">Servicios</div>
        <div class="col col-10">Mes</div>
        <div class="col">Estado</div>
      </label>
      <label class="item row" collection-repeat="venta in ventas | filter: { tipo_carga:5} | filter: filter.search | orderBy: 'comuna'" ng-click="chooseModal(1, venta)">
        <div class="col col-25">{{venta.rut_cliente}}</div>
        <div class="col col-20">{{venta.n_servicio}}</div>
        <div class="col col-10">{{venta.mes_venta}}</div>
        <div class="col col-25">{{venta.visacion}}</div>
      </label>
    </div>
  </ion-content>
</ion-view>
