<ion-view class="no-scroll">
  <ion-nav-title>Cobranzas</ion-nav-title>
  <ion-content class="grey lighten-4 has-header" overflow-scroll="false">
    <div class="fixed">
      <div class="row amber">
        <div class="col">Rut</div>
        <div class="col">Servicio</div>
        <div class="col">Mes</div>
      </div>
    </div>
    <div class="scroll">
      <div class="row" collection-repeat="cobranza in cobranzas" ng-click="openModal(1)">
        <div class="col">{{cobranza.rut_cliente}}</div>
        <div class="col">{{cobranza.servicio}}</div>
        <div class="col">{{cobranza.mes_venta}}</div>
      </div>
    </div>
  </ion-content>
</ion-view>
